## Data Load Exercise for ETL Project
#### This notebook completed by Jagrati Joshi

In [1]:
# Importing needed Libraries
import pandas as pd
from sqlalchemy import create_engine
import pymongo
import json

### Getting data from jsons files for Mongo DB upload

In [4]:
# Loading Initial json data
bird_data_path = 'AustinData/adopted_birds_clean.csv'
cat_data_path = 'AustinData/adopted_cats_clean.csv'
dog_data_path = 'AustinData/adopted_dogs_clean.csv'
livestock_data_path = 'AustinData/adopted_livestock_clean.csv'
other_data_path = 'AustinData/adopted_other_clean.csv'

In [5]:
#Reading data
bird_df = pd.read_csv(bird_data_path)
cat_df = pd.read_csv(cat_data_path)
dog_df = pd.read_csv(dog_data_path)
livestock_df = pd.read_csv(livestock_data_path)
other_df = pd.read_csv(other_data_path)

In [8]:
combined_df = pd.concat([bird_df,cat_df,dog_df,livestock_df,other_df], ignore_index=True)
combined_df["Animal ID"].count()

47119

In [9]:
combined_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,DateTime_out,Outcome Type,Outcome Subtype,shelter_time
0,825547,NaN,2020-11-05 21:50:00,11/05/2020 09:50:00 PM,4800 Hale in Austin (TX),Public Assist,Normal,Bird,Unknown,1 year,Cockatiel,White/Yellow,2020-11-14 13:19:00,Adoption,NaN,8 days 15:29:00
1,787329,NaN,2019-01-11 12:21:00,01/11/2019 12:21:00 PM,Austin (TX),Owner Surrender,Normal,Bird,Unknown,1 year,Parakeet Mix,Yellow,2019-01-13 16:21:00,Adoption,NaN,2 days 04:00:00
2,720718,Tito,2016-02-14 16:02:00,02/14/2016 04:02:00 PM,21413 Webber Oaks Cv in Travis (TX),Public Assist,Normal,Bird,Intact Male,1 year,Chicken Mix,Black/Yellow,2016-03-08 14:20:00,Adoption,NaN,22 days 22:18:00
3,822864,NaN,2020-09-10 17:24:00,09/10/2020 05:24:00 PM,4301 S Ih 35 Frontage Rd in Austin (TX),Stray,Normal,Bird,Unknown,2 years,Cockatiel,Yellow/White,2020-09-19 11:34:00,Adoption,Foster,8 days 18:10:00
4,751514,Starlight,2017-06-09 10:34:00,06/09/2017 10:34:00 AM,12120 Manchaca Rd in Austin (TX),Owner Surrender,Normal,Bird,Unknown,5 months,Chicken Mix,Red,2017-06-10 10:42:00,Adoption,Offsite,1 days 00:08:00

In [10]:
combined_json = json.loads(combined_df.to_json(orient='records'))

In [ ]:
#test_df = pd.concat([barnyard_df,horse_df], ignore_index=True)
#test_df["id"].count()

In [ ]:
#test_json = json.loads(test_df.to_json(orient='records'))

### Data Load Section

In [11]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
#conn = 'mongodb://localhost:27017'
conn = 'mongodb+srv://TeamCatViz:RockingTeam#1@cluster0.ddihz.mongodb.net/petfinder_db?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)

In [12]:
# Defining the 'etlDB' database in Mongo
db = client.petfinder_db

In [13]:
# Defining collections in the DB
pet_coll = db.austin_pet_data
#loc_coll = db.location_data

In [14]:
# Uploading Pet data in Mongo DB collection
pet_coll.drop()
pet_coll.insert_many(combined_json)